#include("header.html")

<div class="container">
	<!-- Docs nav
  ================================================== -->
	<div class="row">
		<div class="col-md-9">
			<article class="post page">
				<section class="post-content">
					<h2>关于</h2>
					<p>
					   <a href="#">FEMON监控平台</a>
					</p>
					<h2>功能介绍</h2>
					<ul>
						<li>http接口服务监控</li>
						<li>服务器进程监控</li>
						<li>资源监控</li>
						<li>数据统计</li>
						<li>MTBF质量报表</li>
					</ul>

					<h2>加入我们</h2>
					<blockquote>
						<p>
							如果您对我们感兴趣，请发邮件到下面的邮箱，<br>Mail：
							universsky@163.com
						</p>
					</blockquote>

				</section>
			</article>
		</div>
	</div>
</div>

#include("footer.html")

<script>
	$(function() {
		initLeftNavSelection();
	});
	function initLeftNavSelection() {
		$("#femon-home").removeClass("active");
		$("#femon-service").removeClass("active");
		$("#femon-server").removeClass("active");
		$("#femon-process").removeClass("active");
		$("#femon-about").addClass("active");
	}
</script>
