<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/favicon.ico">
<title>FEMON</title>


<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/jquery-ui.css" rel="stylesheet">
<link href="/css/tip.css" rel="stylesheet">
<link href="/css/flat-ui.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/css/main.css" rel="stylesheet">
<script src="/js/ie-emulation-modes-warning.js"></script>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<!-- my js: common part -->

<script src="/js/jquery.ui.js"></script>
<script src="/js/jquery.poshytip.js"></script>
<script src="/js/highcharts.js"></script>

<!-- flat-ui js -->
<script src="/js/bootstrap-tooltip.js"></script>
<script src="/js/jquery-ui-1.10.0.custom.min.js"></script>
<script src="/js/jquery.placeholder.min.js"></script>
<script src="/js/jquery.tagsinput.js"></script>
<script src="/js/video.js"></script>


</head>
<body>
	<div class="navbar navbar-inverse" style="margin-top:-40px;">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"></button>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li id="femon-home"><a href="/index"> 首页 </a></li>
						<li id="femon-service"><a href="/service"> 服务 <!--  <span class="navbar-unread">100</span> -->
						</a>
							<ul>
								<li><a href="#">模块1</a></li>
								<li><a href="#">模块2</a>
									<ul>
										<li><a href="#">功能A</a></li>
										<li><a href="#">功能B</a></li>
										<li><a href="#">功能C</a></li>
									</ul> <!-- /Sub menu --></li>
								<li><a href="#">模块3</a></li>
							</ul> <!-- /Sub menu --></li>

						<li id="femon-process"><a href="/process">进程</a></li>
						<li id="femon-resource"><a href="/resource">资源</a></li>
						<li id="femon-about"><a href="/about"> 关于FEMON </a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
