 
#include("header.html")
<div class="nav-guide">
    <a href="/service">服务管理</a>&nbsp;>&nbsp;编辑服务
</div>
<hr width="96%">
<div class="row i-create-form">

    <label>服务配置</label>
    <div class="form-group i-create-subcontent">
        <div class="row i-create-subcontent-row">
            <div class="col-sm-4">
                <label class="label-text">测试主机</label>
                <select name="s-hostCode" class="form-control i-create-item">
                    #if($service.hostCode == 1)
                    <option value="1" selected="selected">一套</option>
                    <option value="2">二套</option>
                    #else
                    <option value="1">一套</option>
                    <option value="2" selected="selected">二套</option>
                    #end
                </select>
            </div>
        </div>
        <div class="row i-create-subcontent-row">
            <div class="col-sm-4">
                <label class="label-text">服务名称</label>
                <input type="text" class="form-control i-create-item" name="s-name" value="$service.name">
            </div>
            <div class="col-sm-8">
                <label class="label-text">URL</label>
                <input type="text" class="form-control" name="s-url" value="$service.requestUrl">
            </div>
        </div>

        <div class="row i-create-subcontent-row">
            <div class="col-sm-4">
                <label class="label-text">请求方法</label>
                <select name="s-method" class="form-control i-create-item">
                    #if($service.method == 'GET')
                        <option value="GET" selected="selected">GET</option>
                        <option value="POST">POST</option>
                    #else
                        <option value="GET">GET</option>
                        <option value="POST" selected="selected">POST</option>
                    #end
                </select>
            </div>
            <div class="col-sm-6">
                <label class="label-text">期望输出</label>
                <input type="text" class="form-control" name="s-output" value='$service.expect'>
            </div>
        </div>

        <div class="row i-create-subcontent-row">
            <div class="col-sm-8">
                <label class="label-text">参数</label>
                <textarea class="form-control" name="param-content" rows="2">$service.paramsMap</textarea>
            </div>
        </div>
    </div>
    <!-- end: 服务配置 -->
    <a class="btn btn-success" id="bt-service-save">保&nbsp;&nbsp;&nbsp;存</a>
</div>
#include("footer.html")
<script type="text/javascript">
    $(function(){
        $("#bt-service-save").on('click', function(){
            var id = $service.id;
            var hostCode = $("select[name='s-hostCode']").val();
            var serviceName = $("input[name='s-name']").val();
            var requestUrl = $("input[name='s-url']").val();
            var requestMethod = $("select[name='s-method']").val();
            var expectOutput = $("input[name='s-output']").val();
            var paramsType = $service.paramsType;
            var paramsMap = $("textarea[name='param-content']").val();

            $.post("/service/edit",
                    {
                        id: id,
                        hostCode: hostCode,
                        name: serviceName,
                        requestUrl: requestUrl,
                        expect: expectOutput,
                        method: requestMethod,
                        paramsType: paramsType,
                        paramsMap: paramsMap
                    },
                    function(data){
                        if(data){
                            window.location.href="/";
                        }else{
                            alert("Fail");
                        }
                    }
            );

        })
    });
</script>
 
